{%- assign current_variant = product.selected_or_first_available_variant -%}
<button class="add_to_cart" type="submit" name="add" {% unless current_variant.available %}disabled="disabled"{% endunless %}>
	<span>
		{% unless current_variant.available %}
		  {{ 'products.product.sold_out' | t }}
		{% else %}
		  {% include 'icon-cart' %}
		  <span>{{ 'products.product.add_to_cart' | t }}</span>
		{% endunless %}
	</span>
	<span class="hide" data-loader>
		{% include 'icon-spinner' %}
	</span>
</button>