{%- style -%}
  {% assign cart_popup_box_shadow = settings.color_borders | color_modify: 'alpha', 0.5 %}

  .cart-popup {
    box-shadow: 1px 1px 10px 2px {{ cart_popup_box_shadow }};
  }
{%- endstyle -%}

<div id="cart-popup-overlay" class="hidden"></div>

<div id="cart-popup-just-added" class="cart-popup-wrapper cart-popup-wrapper--hidden" role="dialog" aria-modal="true" aria-labelledby="CartPopupHeading" data-cart-popup-wrapper>
  <div class="cart-popup" data-cart-popup tabindex="-1">
	<div class="cart-popup__header">
	  <button class="cart-popup__close" aria-label="{{ 'general.accessibility.close_modal' | t }}" data-cart-popup-close>{% include 'icon-close' %}</button>
	  <div class="clear"><!----></div>
	  <h2 id="CartPopupHeading" class="cart-popup__heading">{{ 'cart.popup.added_to_cart' | t }}</h2>
	</div>
	<div class="cart-popup-item">
	  <div class="cart-popup-item__image-wrapper hide" data-cart-popup-image-wrapper>
		<div class="cart-popup-item__image cart-popup-item__image--placeholder" data-cart-popup-image-placeholder>
		  <div data-placeholder-size></div>
		  <div class="placeholder-background placeholder-background--animation"></div>
		</div>
	  </div>
	  <div class="cart-popup-item__description">
		<div>
		  <div class="cart-popup-item__title" data-cart-popup-title></div>
		  <div class="cart-popup-item__price" data-cart-popup-price></div>
		  <ul class="product-details" aria-label="{{ 'cart.popup.product_details' | t }}" data-cart-popup-product-details></ul>
		</div>
		<div class="cart-popup-item__quantity">
		  <span class="visually-hidden" data-cart-popup-quantity-label></span>
		  <span aria-hidden="true">{{ 'cart.popup.quantity' | t }}:</span>
		  <span aria-hidden="true" data-cart-popup-quantity></span>
		</div>
	  </div>
	</div>
	
	<div class="cart-popup__view">
		<a href="{{ routes.cart_url }}" class="cart-popup__cta-link btn btn--secondary-accent">
		  {{ 'products.product.view_cart' | t }} (<span data-cart-popup-cart-quantity></span>)
		</a>
	</div>
	
	{% comment %}
	<div class="cart-popup__dismiss">
	  <button class="cart-popup__dismiss-button text-link text-link--accent" data-cart-popup-dismiss>
		{{ 'cart.general.continue_shopping' | t }}
	  </button>
	</div>
	{% endcomment %}
  </div>
</div>

<div id="cart-popup-list" class="cart-popup-wrapper cart-popup-wrapper--hidden wide" role="dialog">
  <div class="cart-popup" data-cart-popup tabindex="-1">
	<div class="cart-popup__header">
	  <button class="cart-popup__close" aria-label="{{ 'general.accessibility.close_modal' | t }}" data-cart-popup-close>{% include 'icon-close' %}</button>
	  <div class="clear"><!----></div>
	  <h2>{{ 'cart.general.title' | t }}</h2>
	  <h4>{{ 'cart.general.you_have_items_html' | t: quantity: cart.item_count }}</h4>
	</div>
	
	<div class="cart-popup-items">
		<div data-loader>{% include 'icon-spinner' %}</div>
		<div class="cart-popup-item hide" data-id data-line>
		  <div class="cart-popup-item-remove">{% include 'icon-close' %}</div>
		  <div class="cart-popup-item__image-wrapper">
			<img alt="" src="" />
		  </div>
		  <div class="cart-popup-item__description">
			<div class="cart-popup-item__title"></div>
			<div class="cart-popup-item__collection"></div>
			<div class="cart-popup-item__form">
				<div class="product-form__item product-quantity">
					<span class="minus">{% include 'icon-minus' %}</span>
					<input type="number" 
						name="quantity" value="1" min="1" pattern="[0-9]*"
						class="product-form__input product-form__input--quantity"
						data-qty="1"
						/>
					<span class="plus">{% include 'icon-plus' %}</span>
				</div>
				<div class="cart-popup-item__price" data-price></div>
			</div>
		  </div>
		</div>
		{% comment %}
		{% if cart.item_count > 0 %}
			{% assign index = 0 %}
			{% for item in cart.items %}
				{% assign index = index | plus: 1 %}
				<div class="cart-popup-item" data-id="{{ item.variant_id }}" data-line="{{ index }}">
				  <div class="cart-popup-item-remove">{% include 'icon-close' %}</div>
				  <div class="cart-popup-item__image-wrapper">
					{%- assign preview_image = item.product.featured_media.preview_image -%}
					<img alt="{{ preview_image.alt }}" src="{{ preview_image | img_url: '100x100' }}" />
				  </div>
				  <div class="cart-popup-item__description">
					<div class="cart-popup-item__title">{{ item.title }}</div>
					<div class="cart-popup-item__collection">
						{% assign cat = false %}
						{% for collect in item.product.collections %}
							{% unless collect.title contains "[hidden]" %}
								{% assign cat = collect.title %}
								{% break %}
							{% endunless %}
						{% endfor %}
						{% if cat == false %}
							&nbsp;
						{% else %}
							{{ cat }}
						{% endif %}
					</div>
					<div class="cart-popup-item__form">
						<div class="product-form__item product-quantity">
							<span class="minus">{% include 'icon-minus' %}</span>
							<input type="number" 
								name="quantity" value="{{ item.quantity }}" min="1" pattern="[0-9]*"
								class="product-form__input product-form__input--quantity"
								data-qty="{{ item.quantity }}"
								/>
							<span class="plus">{% include 'icon-plus' %}</span>
						</div>
						<div class="cart-popup-item__price" data-price="{{ item.final_price }}">{{ item.final_price | money }}</div>
					</div>
				  </div>
				</div>
			{% endfor %}
		{% endif %}
		{% endcomment %}
	</div>
	
	<div class="cart-popup-footer">
		<div class="cart-popup-total">
			<h4>{{ 'cart.label.total' | t }}</h4>
			<h5 data-total="{{ cart.total_price }}">{{ cart.total_price | money }}</h5>
		</div>
		<div class="cart-popup-buttons">
			<button class="btn continue_shopping" data-cart-popup-close>
				{{ 'cart.general.continue_shopping' | t }}
			</button>
			<button class="btn checkout">
				{{ 'cart.general.checkout' | t }}
			</button>
		</div>
    </div>
  </div>
</div>
