{% comment %}
    Renders a product card using "Grid" style
    Accepts:
    - max_height: {Number} Maximum height of the product's image (required)
    - product: {Object} Product Liquid object (required)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}
<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">

{% comment %}
  <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url | within: collection }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>
{% endcomment %}
  
  <a href="{{ product.url | within: collection }}" class="product-card-image">
	{%- assign preview_image = product.featured_media.preview_image -%}
	<img src="{{ preview_image | img_url: '300x350' }}" />
  </a>
	
  {% comment %}
  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign preview_image = product.featured_media.preview_image -%}
  {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless preview_image == blank %}
    {% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}

  <div class="product-card__image-with-placeholder-wrapper" data-image-with-placeholder-wrapper>
    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
      <div style="padding-top:{% unless preview_image == blank %}{{ 1 | divided_by: preview_image.aspect_ratio | times: 100 }}%{% else %}100%{% endunless %};">
        <img id="{{ img_id }}"
              class="grid-view-item__image lazyload"
              alt="{{ preview_image.alt }}"
              data-src="{{ img_url }}"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ preview_image.aspect_ratio }}"
              data-sizes="auto"
              data-image>
      </div>
    </div>
    <div class="placeholder-background placeholder-background--animation" data-image-placeholder></div>
  </div>

  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
  </noscript>
  {% endcomment %}
  
  <div class="product-card-content">
    <a href="{{ product.url | within: collection }}" class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</a>
	
	<div class="h4 grid-view-item__title product-card__collection" aria-hidden="true">
		{% if collection.url == '/collections/all' %}
			{% assign cat = false %}
			{% for collect in product.collections %}
				{% unless collect.title contains "[hidden]" %}
					{% assign cat = collect.title %}
					{% break %}
				{% endunless %}
			{% endfor %}
			{% if cat == false %}
				&nbsp;
			{% else %}
				{{ cat }}
			{% endif %}
		{% else %}
			{{ collection.title }}
		{% endif %}
	</div>

    {% include 'product-price-listing', product: product, show_vendor: show_vendor %}
	
	{% assign section_id = "product-card-grid-" | append: product.id %}
	<div data-section-id="{{ section_id }}" data-section-type="product" data-ajax-enabled="{{ settings.enable_ajax }}">
	{% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
		{% assign id = "" %}
		{% for variant in product.variants %}
			{% if variant.available %}
				{% assign id = variant.id %}
				{% break %}
			{% endif %}
		{% endfor %}
		<input type="hidden" name="id" value="{{ id }}" />
		{% include 'add-to-cart', product: product %}
	{% endform %}
    </div>
	{% unless product == empty %}
		<script type="application/json" id="ProductJson-{{ section_id }}">
		{{ product | json }}
		</script>
	{% endunless %}
  </div>
  
</div>
