{% assign featuredBlogs = 'stories,artikel' | split:',' %}

{% comment %}
Set the featuredArticles variable to false by default.
{% endcomment %}
{% assign featuredArticles = false %}

{% comment %}
Grab the last 50 (default) articles from each Blog. Add the articles to the featureArticles variable.
{% endcomment %}
{% for block in section.blocks %}
    {% assign featuredBlog = block.settings.blog %}
    {% if blogs[featuredBlog].articles %}
        {% if featuredArticles %}
            {% assign featuredArticles = featuredArticles | concat:blogs[featuredBlog].articles %}
        {% else %}
            {% assign featuredArticles = blogs[featuredBlog].articles %}
        {% endif %}
    {% endif %}
{% endfor %}
{% assign featuredArticles = featuredArticles | sort:'published_at' | reverse %}
{% comment %}
If featuredArticles is not false we should have articles to show - so let's do it!
{% endcomment %}
{% if featuredArticles %}
    <div class="w-100 np-bg-silk-soft1 pt3 pb3-ns pb4 pt3-m cf">
        <div class="center mw9">
            <div class="w-100 ph5-ns ph3-m ph3 pt3-ns pt4-m pt1 mt3-ns mt0-m mt2">
                <div class="ph3-ns ph3-m ph2">
                    <h2 class="untitled-serif f2-ns f2-m f3 fw5 np-color-black mt0 mb2-l mb0">{{ section.settings.title }}</h2>
                </div>
            </div>
            {% include 'articles-newfeatured' %}
        </div>
    </div>
{% endif %}
<div class="cf">
    {% include 'delivery' %}
</div>
{% if section.settings.blog_show_date ==  false %}
    <style>
        #shopify-section-{{section.id}} small.date{display: none;}
    </style>
{% endif %}
{% schema %}
  {
    "name": "Blog posts",
    "class": "index-section",
    "max_blocks": 4,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog posts"
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      }
    ],
    "blocks": [
        {
            "type": "Blogs",
            "name": "Blog",
            "settings": [
                {
                  "id": "blog",
                  "type": "blog",
                  "label": "Blog"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Featured articles",
        "category": "Blog"
      }
    ]
  }
{% endschema %}
