<div class="about-page about-1 page-width">
	<div class="wrapper">
		<div class="text">
			<h1>{{ section.settings.title }}</h1>
			<div class="description">{{ section.settings.description }}</div>
		</div>
		<div class="image"><img src="{{ section.settings.image | img_url: '1000x' }}" alt="{{ section.settings.image.alt }}" /></div>
	</div>
</div>

{% schema %}
{
  "name": "Section 1",
  "settings": [
	{
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Local brand support sustainability"
    },
	{
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Highlighting the beauty of diversity, culture richness, the power Unity in Nusantara that could bring great impact towards Nation where Katonvie itself was born as a result of partnership between different culture / race collaboration Chinese X Javanese (Katonvie’s Creative Director X Katonvie’s collaborating designer)</p>"
    },
	{
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}