<div class="about-page about-2 page-width">
	<div class="background"></div>
	<div class="wrapper">
		<div class="text">
			<h1>{{ section.settings.title }}</h1>
			<div class="description">{{ section.settings.description }}</div>
		</div>
		<div class="image_1">
			<img src="{{ section.settings.image_1 | img_url: '1000x' }}" alt="{{ section.settings.image_1.alt }}" />
		</div>
		<div class="image_2">
			<img src="{{ section.settings.image_2 | img_url: '300x' }}" alt="{{ section.settings.image_2.alt }}" />
		</div>
	</div>
</div>

{% schema %}
{
  "name": "Section 2",
  "settings": [
	{
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Philosophy"
    },
	{
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Highlighting the beauty of diversity, culture richness, the power Unity in Nusantara that could bring great impact towards Nation where Katonvie itself was born as a result of partnership between different culture / race collaboration Chinese X Javanese (Katonvie’s Creative Director X Katonvie’s collaborating designer)</p>"
    },
	{
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
	{
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    }
  ]
}
{% endschema %}