<div class="about-page about-3 page-width">
	<div class="wrapper">
		<div class="image"><img src="{{ section.settings.image | img_url: '1000x' }}" alt="{{ section.settings.image.alt }}" /></div>
		<div class="text">
			<h1>{{ section.settings.title }}</h1>
			<div class="description">{{ section.settings.description }}</div>
		</div>
	</div>
</div>

{% schema %}
{
  "name": "Section 3",
  "settings": [
	{
      "type": "text",
      "id": "title",
      "label": "Title"
    },
	{
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
	{
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}