{% if article.image %}
    <div class="section-header article__header">
        <div class="grid article__header-inner">
            <div class="grid__item medium-up--one-half text-center">
                <img src="{{article.image | img_url: 'master'}}" alt="{{ article.image.alt }}">
            </div>
            <div class="grid__item article-meta medium-up--one-half">
                <span class="blog__name">{{ article.handle | split: '/' | first | replace: '-', ' ' }}</span>
                <h1 class="article__title">{{ article.title }}</h1>
                {% if section.settings.blog_show_author %}
                  <div class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</div>
                {% endif %}
                {% if section.settings.blog_show_date %}
                  <div class="article__date">
                    {{ article.published_at | time_tag: format: 'date' }}
                  </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
<div class="clear"></div>
<div class="rte article__body">
    {% unless article.image %}
        <div class="article-meta m-b-50 m-t-20">
            <span class="blog__name">{{ article.handle | split: '/' | first | replace: '-', ' ' }}</span>
            <h1 class="article__title" style="margin-top: 20px;">{{ article.title }}</h1>
            {% if section.settings.blog_show_author %}
              <div class="article__author m-t-20">{{ 'blogs.article.by_author' | t: author: article.author }}</div>
            {% endif %}
            {% if section.settings.blog_show_date %}
              <div class="article__date">
                {{ article.published_at | time_tag: format: 'date' }}
              </div>
            {% endif %}
        </div>
    {% endunless %}
    {{ article.content }}
</div>
<div class="article__author-info">
    <div class="article__author-info--inner">
        <div class="img-container">
            {% if article.user.image %}
                {{ article.user.image | img_url: '100x100' }}
            {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0323/6023/5146/files/symbol_100x100.png" alt="">
            {% endif %}
        </div>
        <div class="text-container">
            <span class="written">{{ 'blogs.article.written_by' | t }}</span>
            <h3>{{article.author}}</h3>
            <p style="max-width: 425px">{{article.author.bio}}</p>

        </div>
    </div>
</div>

{% if section.settings.show_share_buttons %}
<div class="article__share text-center">
    <p class="sharep">SHARE</p>
    {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
</div>
{% endif %}

<div class="article__helpful-link clearfix">
    <div class="grid helpful-link--inner">
        <div class="grid__item medium-up--one-half be-collaborator">
            <p class="line-normal">Want to be a collaborator?</p>
            <a href="{{section.settings.contact_us}}">Contact us</a>
        </div>
        <div class="grid__item medium-up--one-half know-better">
            <p class="line-normal">Want to know us better?</p>
            <a href="section.settings.know_better">Home</a>
        </div>
    </div>
</div>
{% if article.tags.size > 0 %}
    <div class="article__related-products">
        <h1 class="article__title text-center">{{section.settings.releated_products_title}}</h1>
        <div class="grid" id="article-related-products">
            
        </div>
    </div>
    <script>
        $(document).ready(function(){
            var url = 'https://katonvie.com/search?type=product&q={{ article.tags | join: " OR " }}&view=blog-product-related';
            $.ajax({
                url: url,
                beforeSend: function() {
                    //$('.loader-main').css('display', 'block');
                }
            }).done(function(data) {
                $('#article-related-products').html(data);
            });
        });
    </script>
{% else %}
    <p class="text-center">There are no related products to this articel.</p>
{% endif %}

{% schema %}
{
  "name": {
    "da": "Opslag",
    "de": "Posts",
    "en": "Posts",
    "es": "Publicaciones",
    "fi": "Julkaisut",
    "fr": "Articles",
    "hi": "पोस्ट",
    "it": "Articoli",
    "ja": "投稿",
    "ko": "게시물",
    "ms": "Siaran",
    "nb": "Innlegg",
    "nl": "Berichten",
    "pt-BR": "Posts",
    "pt-PT": "Publicações",
    "sv": "Inlägg",
    "th": "โพสต์",
    "zh-CN": "文章",
    "zh-TW": "貼文"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": {
        "da": "Vis forfatter",
        "de": "Autor anzeigen",
        "en": "Show author",
        "es": "Mostrar autor",
        "fi": "Näytä tekijä",
        "fr": "Afficher l'auteur",
        "hi": "लेखक दिखाएं",
        "it": "Mostra autore",
        "ja": "執筆者を表示する",
        "ko": "작성자 표시",
        "ms": "Tunjukkan pengarang",
        "nb": "Vis forfatter",
        "nl": "Auteur weergeven",
        "pt-BR": "Exibir autor",
        "pt-PT": "Mostrar autor",
        "sv": "Visa författare",
        "th": "แสดงผู้เขียน",
        "zh-CN": "显示作者",
        "zh-TW": "顯示作者"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": {
        "da": "Vis dato",
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fi": "Näytä päivämäärä",
        "fr": "Afficher la date",
        "hi": "दिनांक दिखाएं",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "ko": "날짜 표시",
        "ms": "Tunjukkan tarikh",
        "nb": "Vis dato",
        "nl": "Datum weergeven",
        "pt-BR": "Exibir data",
        "pt-PT": "Mostrar data",
        "sv": "Visa datum",
        "th": "แสดงวันที่",
        "zh-CN": "显示日期",
        "zh-TW": "顯示日期"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "da": "Vis knapper til deling på sociale medier",
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Afficher les boutons de partage sur les médias sociaux",
        "hi": "सोशल शेयरिंग बटन दिखाएं",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "ms": "Tunjukkan butang perkongsian sosial",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true
    },
    {
        "type": "header",
        "content": "Useful links"
    },
    {
      "id": "contact_us",
      "type": "url",
      "label": "Contact us link"
    },
    {
      "id": "know_better",
      "type": "url",
      "label": "Know us better link"
    },
    {
        "type": "header",
        "content": "Releated products"
    },
    {
        "type": "text",
        "id": "releated_products_title",
        "label": "Title",
        "default": "Items you might found above"
    }


  ]
}
{% endschema %}
