<div class="background"></div>
<div class="content">
	{% if template.name == "index" %}
		{% if section.blocks.size > 0 %}
			<div class="page-width">
			  <header class="section-header text-center">
				<h1 class="text-left">{{ section.settings.title }}</h1>
				<div class="text-left">{{ section.settings.subtitle }}</div>
			  </header>
			</div>
			
			{% if section.settings.layout == 'grid' %}
				<div class="page-width">
					<ul class="grid grid--uniform grid--blog">
						{% for block in section.blocks %}
							{% assign article = articles[block.settings.article] %}
							<li class="grid__item medium-up--one-third">
							  <a href="{{ article.url }}" class="article__link">
								{% if article.image %}
								  {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
								  {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
								  {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

								  {% include 'image-style', image: article.image, height: 345, wrapper_id: img_wrapper_id, img_id: img_id %}
								  <div id="{{ img_wrapper_id }}" class="article__grid-image-wrapper js">
									<div class="article__grid-image-container" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;">
									  <img id="{{ img_id }}"
										  class="article__grid-image lazyload"
										  src="{{ article.image | img_url: '300x300' }}"
										  data-src="{{ img_url }}"
										  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
										  data-aspectratio="{{ article.image.aspect_ratio }}"
										  data-sizes="auto"
										  alt="">
									</div>
								  </div>
								  <noscript>
									<div class="article__grid-image-wrapper">
									  {{ article | img_url: '345x345', scale: 2 | img_tag: article.title, 'article__grid-image' }}
									</div>
								  </noscript>
								{% endif %}

								<h2 class="article__title h3{% if article.image %} article__title--has-image{% endif %}">
								  {{ article.title | escape }}
								</h2>
							  </a>

							  <div class="article__grid-meta{% if article.image %} article__grid-meta--has-image{% endif %}">
								{% if section.settings.blog_show_author %}
								  <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
								{% endif %}

								{% if section.settings.blog_show_date %}
								  <span class="article__date">
									{{ article.published_at | time_tag: format: 'date' }}
								  </span>
								{% endif %}

								<div class="rte article__grid-excerpt">
								  {% if article.excerpt.size > 0 %}
									{{ article.excerpt }}
								  {% else %}
									{{ article.content | strip_html | truncate: 150 }}
								  {% endif %}
								</div>

								{% if article.tags.size > 0 %}
								  <div class="article__tags rte">
									<ul class="list--inline" aria-label="{{ 'blogs.article.tags' | t }}">
									  {% for tag in article.tags %}
										<li>
										  <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">{{ tag }}</a>
										</li>
									  {% endfor %}
									</ul>
								  </div>
								{% endif %}

								<ul class="list--inline article__meta-buttons">
								  <li>
									<a href="{{ article.url }}" class="btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.read_story_title' | t: title: article.title }}">
									  {{ 'blogs.article.read_story' | t }}
									</a>
								  </li>

								  {% if blog.comments_enabled? and article.comments_count > 0 %}
									<li>
									  <a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small">
										{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
									  </a>
									</li>
								  {% endif %}
								</ul>
							  </div>
							</li>
						{% endfor %}
					</ul>
				</div>
			{% else %}
				<ul class="blog-list-view">
					{% for block in section.blocks %}
						{% assign article = articles[block.settings.article] %}
						{% assign blog_title = "" %}
						
						{% for link in linklists.blogs.links %}
							{% assign blog = link.object %}
							{% for art in blog.articles %}
								{% if article.id == art.id %}
									{% assign blog_title = blog.title %}
									{% break %}
								{% endif %}
							{% endfor %}
							
							{% if blog_title != "" %}
								{% break %}
							{% endif %}
						{% endfor %}
						
						<li>
							<div class="page-width">
							  <div class="grid">
								<div class="grid__item">
									{% if article.image %}
									  {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
									  
									  <div class="article__list-image-wrapper js">
										  <a href="{{ article.url }}" class="article__list-image-container">
											  <img class="article__list-image lazyload" src="{{ article.image | img_url: '1000x' }}" alt="{{ article.image.alt }}" />
										  </a>
									  </div>
									{% endif %}
								
									<div class="content-left">
										<h3 class="blog__title">{{ blog_title }}</h3>
										<h2 class="article__title h3"><a href="{{ article.url }}">{{ article.title }}</a></h2>

										<div class="rte">
										  {% if article.excerpt.size > 0 %}
											{{ article.excerpt }}
										  {% else %}
											{{ article.content | strip_html | truncate: 150 }}
										  {% endif %}
										</div>
										
										{% if section.settings.blog_show_author %}
										  <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
										{% endif %}

										{% if section.settings.blog_show_date %}
										  <span class="article__date">
											{{ article.published_at | time_tag: format: 'date' }}
										  </span>
										{% endif %}
										
										{% comment %}
										{% if article.tags.size > 0 %}
										  <div class="article__tags article__tags--list rte">
											{{ 'blogs.article.posted_in' | t }}
											{% for tag in article.tags %}
											  <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
											{% endfor %}
										  </div>
										{% endif %}
										{% endcomment %}

										<ul class="list--inline article__meta-buttons">
										  <li>
											<a href="{{ article.url }}" class="btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.read_story_title' | t: title: article.title }}">
											  {{ 'blogs.article.read_story' | t }}
											</a>
										  </li>

										  {% if blog.comments_enabled? and article.comments_count > 0 %}
											<li>
											  <a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small">
												{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
											  </a>
											</li>
										  {% endif %}
										</ul>
									</div>
								</div>
							  </div>
							</div>
							<div class="clear"><!----></div>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endif %}
		
	{% else %}

		{% for blog in blogs %}
			{% if blog.articles_count > 0 %}
			
				{% if section.blocks.size > 0 %}
					{% paginate blog.articles by 2 %}

					<div class="page-width">
					  <header class="section-header text-center">
						<h1 class="text-left">{{ section.settings.title }}</h1>
						<div class="text-left">{{ section.settings.subtitle }}</div>
						{% if blog.tags.size > 0 %}
						  <div class="blog-filter">
							<label class="blog-filter__label select-label" for="BlogTagFilter">{{ 'collections.filters.title_tags' | t }}</label>
							<div class="select-group">
							  <select id="BlogTagFilter" aria-describedby="a11y-refresh-page-message a11y-selection-message">
								<option value="{{ blog.url }}">{{ 'blogs.article.all_topics' | t }}</option>
								{% for tag in blog.all_tags %}
								  <option value="{{ blog.url }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>{{ tag }}</option>
								{% endfor %}
							  </select>
							  {% include 'icon-chevron-down' %}
							</div>
						  </div>
						{% endif %}
					  </header>
					</div>

					{% if section.settings.layout == 'grid' %}
					  <div class="page-width">
						<ul class="grid grid--uniform grid--blog">
						  {% for article in blog.articles %}
							<li class="grid__item medium-up--one-third">
							  <a href="{{ article.url }}" class="article__link">
								{% if article.image %}
								  {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
								  {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
								  {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

								  {% include 'image-style', image: article.image, height: 345, wrapper_id: img_wrapper_id, img_id: img_id %}
								  <div id="{{ img_wrapper_id }}" class="article__grid-image-wrapper js">
									<div class="article__grid-image-container" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;">
									  <img id="{{ img_id }}"
										  class="article__grid-image lazyload"
										  src="{{ article.image | img_url: '300x300' }}"
										  data-src="{{ img_url }}"
										  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
										  data-aspectratio="{{ article.image.aspect_ratio }}"
										  data-sizes="auto"
										  alt="">
									</div>
								  </div>
								  <noscript>
									<div class="article__grid-image-wrapper">
									  {{ article | img_url: '345x345', scale: 2 | img_tag: article.title, 'article__grid-image' }}
									</div>
								  </noscript>
								{% endif %}

								<h2 class="article__title h3{% if article.image %} article__title--has-image{% endif %}">
								  {{ article.title | escape }}
								</h2>
							  </a>

							  <div class="article__grid-meta{% if article.image %} article__grid-meta--has-image{% endif %}">
								{% if section.settings.blog_show_author %}
								  <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
								{% endif %}

								{% if section.settings.blog_show_date %}
								  <span class="article__date">
									{{ article.published_at | time_tag: format: 'date' }}
								  </span>
								{% endif %}

								<div class="rte article__grid-excerpt">
								  {% if article.excerpt.size > 0 %}
									{{ article.excerpt }}
								  {% else %}
									{{ article.content | strip_html | truncate: 150 }}
								  {% endif %}
								</div>

								{% if article.tags.size > 0 %}
								  <div class="article__tags rte">
									<ul class="list--inline" aria-label="{{ 'blogs.article.tags' | t }}">
									  {% for tag in article.tags %}
										<li>
										  <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">{{ tag }}</a>
										</li>
									  {% endfor %}
									</ul>
								  </div>
								{% endif %}

								<ul class="list--inline article__meta-buttons">
								  <li>
									<a href="{{ article.url }}" class="btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.read_story_title' | t: title: article.title }}">
									  {{ 'blogs.article.read_story' | t }}
									</a>
								  </li>

								  {% if blog.comments_enabled? and article.comments_count > 0 %}
									<li>
									  <a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small">
										{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
									  </a>
									</li>
								  {% endif %}
								</ul>
							  </div>
							</li>
						  {% endfor %}
						</ul>
					  </div>
					{% else %}
					  <ul class="blog-list-view">
						{% for article in blog.articles %}
						  <li>
							<div class="page-width">
							  <div class="grid">
								<div class="grid__item">
									{% if article.image %}
									  {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
									  
									  <div class="article__list-image-wrapper js">
										  <a href="{{ article.url }}" class="article__list-image-container">
											  <img class="article__list-image lazyload" src="{{ article.image | img_url: '1000x400' }}" alt="{{ article.image.alt }}" />
										  </a>
									  </div>
									{% endif %}
								
									<div class="content-left">
										<h3 class="">{{ blog.title }}</h3>
										<h2 class="article__title h3"><a href="{{ article.url }}">{{ article.title }}</a></h2>

										<div class="rte">
										  {% if article.excerpt.size > 0 %}
											{{ article.excerpt }}
										  {% else %}
											{{ article.content | strip_html | truncate: 150 }}
										  {% endif %}
										</div>
										
										{% if section.settings.blog_show_author %}
										  <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
										{% endif %}

										{% if section.settings.blog_show_date %}
										  <span class="article__date">
											{{ article.published_at | time_tag: format: 'date' }}
										  </span>
										{% endif %}
										
										{% comment %}
										{% if article.tags.size > 0 %}
										  <div class="article__tags article__tags--list rte">
											{{ 'blogs.article.posted_in' | t }}
											{% for tag in article.tags %}
											  <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
											{% endfor %}
										  </div>
										{% endif %}
										{% endcomment %}

										<ul class="list--inline article__meta-buttons">
										  <li>
											<a href="{{ article.url }}" class="btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.read_story_title' | t: title: article.title }}">
											  {{ 'blogs.article.read_story' | t }}
											</a>
										  </li>

										  {% if blog.comments_enabled? and article.comments_count > 0 %}
											<li>
											  <a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small">
												{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
											  </a>
											</li>
										  {% endif %}
										</ul>
									</div>
								</div>
							  </div>
							</div>
							<div class="clear"><!----></div>
						  </li>
						{% endfor %}
					  </ul>
					{% endif %}

					{%- if paginate.pages > 1 -%}
					  {% include 'pagination', paginate: paginate %}
					{%- endif -%}

					{% endpaginate %}

				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
</div>

{% schema %}
{
  "name": "Blog pages",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Latest Fashion Spread"
    },
    {
	  "type": "richtext",
	  "id": "subtitle",
	  "label": "Sub Heading",
      "default": "<p><a href=\"/#newsletter\">Subscribe to our newsletter</a> and get updated news, event, fashion styling, and promotion.</p>"
	},
	{
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "list",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "list",
          "label": "List"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "Show date",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "article_list",
      "name": "Article list",
	  "limit": 5,
      "settings": [
	    {
	      "type": "article",
	      "id": "article",
	      "label": "Article"
	    }
      ]
    }
  ]
}
{% endschema %}
