<div class="background"></div>
<div class="content">
    {%- paginate blog.articles by settings.blog_pagination_limit -%}
    {% if blog.articles.size > 0 %}
        <div class="page-width">
            <header class="section-header text-center">
                <h1 class="text-center article__title">{{ section.settings.title }}</h1>
                <div class="text-left">{{ section.settings.subtitle }}</div>
                <div class="blog-filter">
                    <label class="blog-filter__label select-label" for="BlogTagFilter">{{ 'collections.filters.title_tags' | t }}</label>
                    <div class="select-group">
                        <select id="BlogTagFilter" aria-describedby="a11y-refresh-page-message a11y-selection-message">
                            <option value="{{ blog.url }}">{{ 'blogs.article.all_topics' | t }}</option>
                            {% for tag in blog.all_tags %}
                                <option value="{{ blog.url }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>{{ tag }}</option>
                            {% endfor %}
                        </select>
                        {% include 'icon-chevron-down' %}
                    </div>
                </div>
            </header>
        </div>
        {% if section.settings.layout == 'grid' %}
            <div class="page-width">
                <ul class="grid grid--uniform grid--blog">
                    {% for article in blog.articles %}
                        <li class="grid__item medium-up--one-third">
                            <a href="{{ article.url }}" class="article__link">
                                {% if article.image %}
                                {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
                            {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
                            {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                            {% include 'image-style', image: article.image, height: 345, wrapper_id: img_wrapper_id, img_id: img_id %}
                            <div id="{{ img_wrapper_id }}" class="article__grid-image-wrapper js">
                                <div class="article__grid-image-container" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;">
                                    <img id="{{ img_id }}"
                                    class="article__grid-image lazyload"
                                    src="{{ article.image | img_url: '300x300' }}"
                                    data-src="{{ img_url }}"
                                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                    data-aspectratio="{{ article.image.aspect_ratio }}"
                                    data-sizes="auto"
                                    alt="">
                                </div>
                            </div>
                            <noscript>
                            <div class="article__grid-image-wrapper">
                                {{ article | img_url: '345x345', scale: 2 | img_tag: article.title, 'article__grid-image' }}
                            </div>
                            </noscript>
                        {% endif %}
                        <h2 class="article__title h3{% if article.image %} article__title--has-image{% endif %}">
                        {{ article.title | escape }}
                        </h2>
                    </a>
                    <div class="article__grid-meta{% if article.image %} article__grid-meta--has-image{% endif %}">
                    {% if section.settings.blog_show_author %}
                        <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
                    {% endif %}
                    {% if section.settings.blog_show_date %}
                        <span class="article__date">
                            {{ article.published_at | time_tag: format: 'date' }}
                        </span>
                    {% endif %}
                    <div class="rte article__grid-excerpt">
                        {% if article.excerpt.size > 0 %}
                            {{ article.excerpt }}
                        {% else %}
                            {{ article.content | strip_html | truncate: 150 }}
                        {% endif %}
                    </div>
                    {% if article.tags.size > 0 %}
                        <div class="article__tags rte">
                            <ul class="list--inline" aria-label="{{ 'blogs.article.tags' | t }}">
                                {% for tag in article.tags %}
                                    <li>
                                        <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">{{ tag }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <ul class="list--inline article__meta-buttons">
                        <li>
                            <a href="{{ article.url }}" class="btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.read_story_title' | t: title: article.title }}">
                                {{ 'blogs.article.read_story' | t }}
                            </a>
                        </li>
                        {% if blog.comments_enabled? and article.comments_count > 0 %}
                            <li>
                                <a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small">
                                    {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

{% else %}
<div class="page-width">
    <ul class="grid blog-list-view">
        {% for article in blog.articles %}
            <li class="grid__item medium-up--one-half">
                <div class="grid">
                    {% if article.image %}
                        {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <div class="article__list-image-wrapper js grid__item medium-up--one-half">
                            <a href="{{ article.url }}" class="article__list-image-container">
                                <img class="article__list-image lazyload" src="{{ article.image | img_url: '262x212' }}" alt="{{ article.image.alt }}" />
                            </a>
                        </div>
                    {% endif %}

                    <div class="content-left grid__item medium-up--one-half">
                        <h3 class="">{{ blog.title }}</h3>
                        <h2 class="fw-300 h3"><a href="{{ article.url }}">{{ article.title }}</a></h2>
                        <div class="rte">
                            {% if article.excerpt.size > 0 %}
                                {{ article.excerpt }}
                            {% else %}
                                {{ article.content | strip_html | truncate: 150 }}
                            {% endif %}
                        </div>
                        
                        {% if section.settings.blog_show_author %}
                            <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
                        {% endif %}
                        {% if section.settings.blog_show_date %}
                            <span class="article__date">
                                {{ article.published_at | time_tag: format: 'date' }}
                            </span>
                        {% endif %}
                        <ul class="list--inline article__meta-buttons">
                            <li>
                                <a href="{{ article.url }}" class="btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.read_story_title' | t: title: article.title }}">
                                    {{ 'blogs.article.read_story' | t }}
                                </a>
                            </li>
                            {% if blog.comments_enabled? and article.comments_count > 0 %}
                                <li>
                                    <a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small">
                                        {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{%- if paginate.pages > 1 -%}
{% include 'pagination', paginate: paginate %}
{%- endif -%}
{% endif %}
{% endpaginate %}
</div>
{% schema %}
{
"name": "Blog pages",
"settings": [
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Latest Fashion Spread"
},
{
"type": "richtext",
"id": "subtitle",
"label": "Sub Heading",
"default": "<p><a href=\"/#newsletter\">Subscribe to our newsletter</a> and get updated news, event, fashion styling, and promotion.</p>"
},
{
"type": "select",
"id": "layout",
"label": "Layout",
"default": "list",
"options": [
{
"value": "grid",
"label": "Grid"
},
{
"value": "list",
"label": "List"
}
]
},
{
"type": "checkbox",
"id": "blog_show_author",
"label": "Show author",
"default": true
},
{
"type": "checkbox",
"id": "blog_show_date",
"label": "Show date",
"default": true
}
],
"blocks": [
{
"type": "article_list",
"name": "Article list",
"limit": 5,
"settings": [
{
"type": "article",
"id": "article",
"label": "Article"
}
]
}
]
}
{% endschema %}