<div class="background"></div>
<div class="content blog-category">
{% if blog.articles_count > 0 %}
    <div class="page-width">
        <header class="section-header text-center">
            <h1 class="text-center article__title">{{ section.settings.title }}</h1>
            <div class="text-center">{{ section.settings.subtitle }}</div>
        </header>
    </div>
    <div class="page-width">
        <div class="grid">
            {% for block in section.blocks %}
                <div class="grid__item medium-up--one-quarter">
                    {% if block.settings.blog != blank %}
                        {% assign urlb = '/blogs/' | append: block.settings.blog %}
                        {% assign titleb = block.settings.title %}
                    {% else %}
                        {% assign urlb = '#' %}
                        {% assign titleb = "Choose specific blog" %}
                    {% endif %}
                    <a class="blog-category-container" href="{{urlb}}">
                        <div class="img-container">
                            {% if block.settings.blog_image %}
                                <img src="{{block.settings.blog_image | img_url: 'master'}}" alt="">
                            {% else %}
                                <img src="https://placehold.co/304x240" alt="">
                            {% endif %}
                        </div>
                        <div class="overlay"></div>
                        <div class="text-container">
                            <p>{{titleb}}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
</div>
{% schema %}
{
    "name": "Blog categories",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading"
        },
        {
    	   "type": "textarea",
    	   "id": "subtitle",
    	   "label": "Sub Heading"
    	}
    ],
    "blocks": [
        {
            "type": "blog-category",
            "name": "Add Blog",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label" : "Blog title"
                },
                {
                    "type": "blog",
                    "id": "blog",
                    "label" : "Choose blog"
                },
                {
                    "type": "image_picker",
                    "id": "blog_image",
                    "label" : "Blog image"
                }
            ]
        }
    ]
}
{% endschema %}
