
{% comment %}Set the featuredArticles variable to false by default.{% endcomment %}
{% assign featuredArticles = false %}

{% comment %}
Grab the last 50 (default) articles from each Blog. Add the articles to the featureArticles variable.
{% endcomment %}
{% for block in section.blocks %}
    {% assign featuredBlog = block.settings.blog %}
    {% if blogs[featuredBlog].articles %}
        {% if featuredArticles %}
            {% assign featuredArticles = featuredArticles | concat:blogs[featuredBlog].articles %}
        {% else %}
            {% assign featuredArticles = blogs[featuredBlog].articles %}
        {% endif %}
    {% endif %}
{% endfor %}
<div class="page-width">
    <div class="grid">
        <div class="grid__item medium-up--one-whole">
            <h1 class="text-center section-title article__title" data-t="{{template}}">{{ section.settings.title }}</h1>
        </div>
    </div>
    <div class="grid">
        {% if featuredArticles != blank %}
            {% assign featuredArticles = featuredArticles | sort:'published_at' | reverse %}
            {% comment %}BIG ARTICLE{% endcomment %}
            <div class="grid__item medium-up--one-half big-article">
                {% for article in featuredArticles limit:1 %}
                    <div class="img-container">
                        {% if article.image %}
                            <a href="{{article.url}}">
                                <img class="db" src="{{ article.image | img_url: '749x530', crop: 'center' }}" alt="{{ article.image.alt | escape }}">
                            </a>
                        {% else %}
                            <a href="{{article.url}}">
                            <img class="db dim w-100 np-bg-green-soft1" src="{{ 'article.jpg' | asset_img_url: '749x530', crop: 'center' }}" alt=""/>
                            </a>
                        {% endif %}
                    </div>
                    <div class="text-container">
                        <a href="/blogs/{{ article.handle | split: '/' | first }}" class="blog__name">
                            {{ article.handle | split: '/' | first | replace: '-', ' ' }}
                        </a>
                        <h1 class="article__title">
                            <a href="{{article.url}}" class="title">{{ article.title }}</a>
                        </h1>
                        <div class="rte article__grid-excerpt">
                            {% if article.excerpt.size > 0 %}
                                {{ article.excerpt }}
                            {% else %}
                                {{ article.content | strip_html | truncatewords: 22, "" }}
                            {% endif %}
                        </div>
                        {% if settings.blog_show_author %}
                            <span class="article__author">
                                {{ 'blogs.article.by_author' | t: author: article.author }}
                            </span>
                        {% endif %}
                        {% if settings.blog_show_date %}
                            <div class="article__date">
                                {{ article.published_at | date: '%d %b %Y' }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            {% comment %}SMALL ARTICLES{% endcomment %}
            <div class="grid__item medium-up--one-half small-article">
                <h2 class="grid__item small-article-title">{{ section.settings.title_sub }}</h2>
                {% for article in featuredArticles offset: 1 limit: 3 %}
                    <div class="grid__item one-half img-container">
                        {% if article.image %}
                            <a href="{{article.url}}">
                            <img class="db dim w-100 np-bg-green-soft1" src="{{ article.image | img_url: '265x215', crop: 'center' }}" alt="{{ article.image.alt | escape }}">
                            </a>
                        {% else %}
                            <a href="{{article.url}}">
                            <img class="db dim w-100 np-bg-green-soft1" src="{{ 'article.jpg' | asset_img_url: '265x215', crop: 'center' }}" alt="Title"/>
                            </a>
                        {% endif %}
                    </div>
                    <div class="grid__item one-half">
                        <a href="/blogs/{{ article.handle | split: '/' | first }}" class="blog__name">
                            {{ article.handle | split: '/' | first | replace: '-', ' ' }}
                        </a>
                        <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
                        {% if settings.blog_show_author %}
                            <span class="article__author">
                                {{ 'blogs.article.by_author' | t: author: article.author }}
                            </span>
                        {% endif %}
                        {% if settings.blog_show_date %}
                            <div class="article__date">
                                {{ article.published_at | date: '%d %b %Y' }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                {% endfor %}
            </div>
        {% else %}
            <h3 class="text-center">Add blog from theme settings</h3>
        {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "Fashion Spread",
    "class": "shopify-section fashion-spread",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Fashion Spread"
        },
        {
            "type": "text",
            "id": "title_sub",
            "label": "Sub heading",
            "default": "Recent News"
        }
    ],
    "blocks": [
        {
            "type": "Blogs",
            "name": "Blog",
            "settings": [
                {
                  "id": "blog",
                  "type": "blog",
                  "label": "Blog"
                }
            ]
        }
    ]
}
{% endschema %}
