<div class="background"></div>
<div class="content blog-featured-articles">
{% if blog.articles_count > 0 %}
    <div class="page-width">
        <header class="section-header text-center">
            <h1 class="text-left article__title">{{ section.settings.title }}</h1>
            <div class="text-left">{{ section.settings.subtitle }}</div>
        </header>
    </div>
    <div class="page-width">
        {% for block in section.blocks %}
            {% if block.type == 'first-article' %}
                {% assign first_article = articles[block.settings.first_article] %}
                {% assign blog_name = block.settings.first_article | split: '/' %}
                <style>
                    .first__featured{
                        {% if block.settings.first_article_bg %}
                        background-image: url('{{block.settings.first_article_bg | img_url: 'master'}}');
                        background-position: {{ block.settings.first_article_bg_position }};
                        background-repeat: no-repeat;
                        background-size: contain;
                        {% endif %}
                        {% if block.settings.fa_height %}
                            height: {{block.settings.fa_height}};
                        {% endif %}
                        {% if block.settings.fa_height %}
                            background-color: {{block.settings.fa_bg_color}};
                        {% endif %}
                        align-items: {{block.settings.fa_align_item}};
                    }
                </style>
                <div class="grid grid--uniform first__featured page-width" style="display: flex;">
                    <div class="grid__item medium-up--one-half article__grid-meta{% if first_article.image %} article__grid-meta--has-image{% endif %}" style="padding-left: 0">
                        <a href="{{ blogs[blog_name.first].handle}}" class="blog__name">{{ blogs[blog_name.first].title}}</a>
                        <h2 class="article__title h3{% if first_article.image %} article__title--has-image{% endif %}"> 
                            <a href="{{first_article.url}}">
                            {{ first_article.title | escape }}
                            </a>
                        </h2>
                        <div class="rte article__grid-excerpt">
                            {% if first_article.excerpt.size > 0 %}
                                {{ first_article.excerpt }}
                            {% else %}
                                {{ first_article.content | strip_html | truncate: 150 }}
                            {% endif %}
                        </div>
                        {% if settings.blog_show_author %}
                            <span class="article__author">{{ 'blogs.article.by_author' | t: author: first_article.author }}</span>
                        {% endif %}
                        {% if settings.blog_show_date %}
                            <div class="article__date">
                                {{ first_article.published_at | date: '%d %b %Y' }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="grid__item medium-up--one-half">
                        <a href="{{ first_article.url }}" class="article__link">
                            {% if first_article.image and block.settings.is_first_article_hidden == false %}
                                <div id="" class="article__grid-image-wrapper js">
                                    <div class="article__grid-image-container" style="padding-top:{{ 1 | divided_by: first_article.image.aspect_ratio | times: 100 }}%;">
                                        <img id=""
                                        class="article__grid-image lazyload"
                                        src="{{ first_article.image | img_url: 'master' }}"
                                        data-src="{{ img_url }}"
                                        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                        data-aspectratio="{{ first_article.image.aspect_ratio }}"
                                        data-sizes="auto"
                                        alt="">
                                    </div>
                                </div>
                                <noscript>
                                    <div class="article__grid-image-wrapper">
                                        {{ first_article | img_url: '345x345', scale: 2 | img_tag: first_article.title, 'article__grid-image' }}
                                    </div>
                                </noscript>
                            {% endif %}
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if block.type == 'second-article' %}
                {% assign second_article = articles[block.settings.second_article] %}
                {% assign blog_name_s = block.settings.second_article | split: '/' %}
                <div class="grid grid--uniform second__featured" style="display: flex;">
                    <div class="grid__item medium-up--one-half">
                        <a href="{{ second_article.url }}" class="article__link">
                            {% if second_article.image %}
                                <div id="" class="article__grid-image-wrapper js">
                                    <div class="article__grid-image-container" style="padding-top:70.12%;">
                                        <img id=""
                                        class="article__grid-image lazyload"
                                        src="{{ second_article.image | img_url: '642x451', crop: 'center' }}"
                                        data-src="{{ img_url }}"
                                        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                                        data-aspectratio="{{ second_article.image.aspect_ratio }}"
                                        data-sizes="auto"
                                        alt="">
                                    </div>
                                </div>
                                <noscript>
                                    <div class="article__grid-image-wrapper">
                                        {{ second_article | img_url: '345x345', scale: 2 | img_tag: second_article.title, 'article__grid-image' }}
                                    </div>
                                </noscript>
                            {% endif %}
                        </a>
                    </div>
                    <div class="grid__item medium-up--one-half article__grid-meta{% if second_article.image %} article__grid-meta--has-image{% endif %}">
                        <a href="{{blogs[blog_name_s.first].handle}}" class="blog__name">{{ blogs[blog_name_s.first].title}}</a>
                        <h2 class="article__title h3{% if second_article.image %} article__title--has-image{% endif %}">
                            <a href="{{second_article.url}}">
                            {{ second_article.title | escape }}
                            </a>
                        </h2>
                        <div class="rte article__grid-excerpt">
                            {% if second_article.excerpt.size > 0 %}
                                {{ second_article.excerpt }}
                            {% else %}
                                {{ second_article.content | strip_html | truncate: 150 }}
                            {% endif %}
                        </div>
                        {% if settings.blog_show_author %}
                            <span class="article__author">{{ 'blogs.article.by_author' | t: author: second_article.author }}</span>
                        {% endif %}
                        {% if settings.blog_show_date %}
                            <div class="article__date">
                                {{ second_article.published_at | date: '%d %b %Y' }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
</div>
{% schema %}
{
    "name": "Featured Articles",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading"
        },
        {
    	   "type": "textarea",
    	   "id": "subtitle",
    	   "label": "Sub Heading"
    	}
    ],
    "blocks": [
        {
            "type": "first-article",
            "name": "First article",
            "limit": 1,
            "settings": [
                {
                    "type": "article",
                    "id": "first_article",
                    "label": "Choose first article"
                },
                {
                    "type": "checkbox",
                    "id": "is_first_article_hidden",
                    "label": "Hide image article",
                    "default": false
                },
                {
                  "type": "header",
                  "content": "Background"
                },
                {
                    "type": "image_picker",
                    "id": "first_article_bg",
                    "label" : "Add background image"
                },
                {
                    "type": "select",
                    "id": "first_article_bg_position",
                    "label": "Background position",
                    "options": [
                        {
                          "value": "center",
                          "label": "center"
                        },
                        {
                          "value": "top left",
                          "label": "top left"
                        },
                        {
                          "value": "top right",
                          "label": "top right"
                        },
                        {
                          "value": "bottom left",
                          "label": "bottom left"
                        },
                        {
                          "value": "bottom right",
                          "label": "bottom right"
                        }
                    ],
                    "default": "center"
                },
                {
                  "type": "header",
                  "content": "Styling"
                },
                {
                    "type": "text",
                    "id": "fa_height",
                    "label" : "Container Height",
                    "info": "Unit in px"
                },
                {
                    "type": "color",
                    "id": "fa_bg_color",
                    "label": "Background color"
                },
                {
                    "type": "select",
                    "id": "fa_align_item",
                    "label": "Item Allignment",
                    "options": [
                        {
                          "value": "center",
                          "label": "Center"
                        },
                        {
                          "value": "flex-start",
                          "label": "Top"
                        },
                        {
                          "value": "flex-end",
                          "label": "Bottom"
                        }
                    ],
                    "default": "center"
                }
            ]
        },
        {
            "type": "second-article",
            "name": "Second article",
            "limit": 1,
            "settings": [
                {
                    "type": "article",
                    "id": "second_article",
                    "label": "Choose first article"
                },
                {
                    "type": "header",
                    "content": "Working on progress"
                }
            ]
        }
    ]
}
{% endschema %}
