<div class="page-width">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h1><span>{% include 'icon-instagram' %}</span>{{ section.settings.title | escape }}</h1>
    </div>
  {% endif %}

  {%- assign collection = collections[section.settings.collection] -%}

  {% case section.settings.grid %}
    {% when 2 %}
      {%- assign max_height = 530 -%}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign max_height = 345 -%}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign max_height = 250 -%}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when 5 %}
      {%- assign max_height = 195 -%}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
  {% endcase %}

  {%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

  <ul>
    {% for product in collection.products limit: product_limit %}
	  {%- assign preview_image = product.featured_media.preview_image -%}
      <li>
		<a href="{{ product.url }}" style="background-image: url({{ preview_image | img_url: 'x400' }});" title="{{ product.title }}">
			
		</a>
      </li>
    {% endfor %}
  </ul>

</div>



{% schema %}
{
  "name": "Featured collection",
  "class": "index-section collections-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "#katonvie"
    },
    {
      "type": "text",
      "id": "url",
      "label": "Url",
      "default": "https://www.instagram.com/katonvie/"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "grid",
      "label": "Products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "rows",
      "label": "Rows",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 2
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
