{% case section.settings.grid %}
  {% when 2 %}
    {%- assign max_height = 530 -%}
  {% when 3 %}
    {%- assign max_height = 345 -%}
  {% when 4 %}
    {%- assign max_height = 250 -%}
  {% when 5 %}
    {%- assign max_height = 195 -%}
{% endcase %}

{% if section.settings.layout == 'grid' %}
  {%- assign limit = section.settings.grid | times: section.settings.rows -%}
{% else %}
  {%- assign limit = 16 -%}
{% endif %}

{% comment %}
{% paginate collection.products by limit %}
{%- if paginate.pages > 1 -%}
    {% include 'pagination', paginate: paginate %}
{%- endif -%}	
{% endpaginate %}
{% endcomment %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template">
  <header class="collection-header">
    {%- assign is_filter_by_available = false -%}
    {%- if section.settings.tags_enable and collection.all_tags.size > 0 -%}
      {%- assign is_filter_by_available = true -%}
    {%- endif -%}

    {% if section.settings.show_collection_image and collection.image %}
      <div class="collection-hero">
        <div class="collection-hero__image ratio-container lazyload js"
             data-bgset="{% include 'bgset', image: collection.image %}"
             data-sizes="auto"
             data-parent-fit="cover"
             style="background-image: url('{{ collection.image | img_url: '300x300' }});"></div>
        <noscript>
          <div class="collection-hero__image" style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});"></div>
        </noscript>
        <div class="collection-hero__title-wrapper">
          <h1 class="collection-hero__title page-width">
            <span role="text">
              <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
              {{ collection.title }}
            </span>
          </h1>
        </div>
      </div>
      {% if is_filter_by_available == false and section.settings.sort_enable == false %}
        <div class="page-width">
          <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
        </div>
      {% endif %}
      {% if collection.description != blank %}
        <div class="rte collection-description page-width">
          {{ collection.description }}
        </div>
      {% endif %}
    {% else %}
      <div class="page-width">
        <div class="section-header text-center">
          <h1>
            <span role="text">
              <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
              {{ 'collections.general.collection_label' | t }}
			  {% comment %}{{ collection.title }}{% endcomment %}
            </span>
          </h1>
          {% if collection.description != blank %}
            <div class="rte">
              {{ collection.description }}
            </div>
          {% endif %}
          {% if is_filter_by_available == false and section.settings.sort_enable == false %}
            <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
          {% endif %}
        </div>
      </div>
    {% endif %}
	
	<ul class="collections-menu">
		<li><a href="/collections/all" class="{% if collection.url == '/collections/all' %}active{% endif %}">{{ 'collections.general.all_collection_label' | t }}</a></li>{% for collect in collections %}{% unless collect.title contains "[hidden]" %}<li><a href="{{ collect.url }}" class="{% if collection.url == collect.url %}active{% endif %}">{{ collect.title }}</a></li>{% endunless %}{% endfor %}
	</ul>
	
    {% if is_filter_by_available or section.settings.sort_enable %}
      <div class="filters-toolbar-wrapper{% if is_filter_by_available %} filters-toolbar--has-filter{% endif %}">
        <div class="page-width">
			<ul id="filter-menu">
				<li>{{ 'collections.filters.title_tags' | t }}</li>
				{% if section.settings.sort_enable %}
					<li>{{ 'collections.sorting.title' | t }}</li>
				{% endif %}
			</ul>
			<ul id="filter-list">
				<li class="wrapper">
					<form>
						<ul>
							<li class="blocking">
							  <h4>{{ 'collections.filters.filter_color' | t }}</h4>
							  <ol>
								{% unless collection.all_tags.size == 0 %}
								  {% for tag in collection.all_tags %}
									{% assign first = tag | slice: 0, 6 %}
									{% if first == "color=" %}
									  {% assign tag_name = tag | split: "color=" %}
									  <li><input id="filter_color-{{ tag }}" value="{{ tag }}" name="filter_colors[]" type="checkbox" /><label for="filter_color-{{ tag }}">{{ tag_name[1] }}</label></li>
									{% endif %}
								  {% endfor %}
								{% endunless %}
							  </ol>
							</li>
							<li class="blocking">
							  <h4>{{ 'collections.filters.filter_price' | t }}</h4>
							  <ol>
								{% assign lowest = false %}
								{% assign highest = false %}
								{% for collect in collections %}
									{% for product in collect.products %}
										{% if lowest == false %}
											{% assign lowest = product.price_min %}
											{% assign highest = product.price_max %}
										{% else %}
											{% if lowest > product.price_min %}
												{% assign lowest = product.price_min %}
											{% endif %}
											{% if highest < product.price_max %}
												{% assign highest = product.price_max %}
											{% endif %}
										{% endif %}
									{% endfor %}
								{% endfor %}
								{% assign divider = 20000000 %}
								{% assign bottom = lowest %}
								{% assign top = lowest | plus: divider %}
								{% assign max = highest | minus: lowest | divided_by: divider | ceil %}
								{% for i in (0..max) %}
									{% if top > highest %}
										{% assign top = highest %}
									{% endif %}
									<li><input id="filter_price-{{ i }}" value="{{ bottom }}-{{ top }}" name="filter_price[]" type="checkbox" /><label for="filter_price-{{ i }}">{{ bottom | money }} - {{ top | money }}</label></li>
									{% assign bottom = top %}
									{% assign top = top | plus: divider %}
								{% endfor %}
							  </ol>
							</li>
						</ul>
						<div class="clear"><!----></div>
						<div class="buttons">
							<button class="cancel">{{ 'collections.filters.cancel' | t }}</button>
							<button class="apply">{{ 'collections.filters.apply' | t }}</button>
							<button class="reset" type="reset">{{ 'collections.filters.reset' | t }}</button>
							<div class="clear"><!----></div>
						</div>
					</form>
				</li>
				{% if section.settings.sort_enable %}
					<li class="wrapper">
						<ul>
							{%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
							{%- for option in collection.sort_options -%}
								<li><a href="{{ collection.url }}?sort_by={{ option.value }}" {% if option.value == sort_by %}class="active"{% endif %}>{{ option.name }}</a></li>
							{%- endfor -%}
						</ul>
					</li>
				{% endif %}
			</ul>
        </div>
      </div>
    {% endif %}
  </header>
  
  <div class="page-width" id="Collection">
    {% if section.settings.layout == 'grid' %}
      {% case section.settings.grid %}
      {% when 2 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
      {% when 3 %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
      {% when 4 %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
      {% when 5 %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
      {% endcase %}

      <ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
        {% assign count = 0 %}
        {% for product in collection.products %}
          {% assign count = count | plus: 1 %}
		  {% assign color = "" %}
		  {% for tag in product.tags %}
            {% assign first = tag | slice: 0, 6 %}
		    {% if first == "color=" %}
			  {% assign color = tag | split: "color=" %}
			  {% break %}
		    {% endif %}
          {% endfor %}
          <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}" data-color="{{ color }}" data-price="{{ product.price }}" style="{% if count > limit %}display: none;{% endif %}">
			{% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
          </li>
        {% else %}
          {% comment %}
          Add default products to help with onboarding for collections/all only.

          The onboarding styles and products are only loaded if the
          store has no products.
          {% endcomment %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
            <li class="grid__item">
              <div class="grid grid--uniform">
                {% for i in (1..limit) %}
                  <div class="grid__item {{ grid_item_width }}">
                    <div class="grid-view-item">
                      <a href="#" class="grid-view-item__link">
                        <div class="grid-view-item__image">
                          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                        <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                        <div class="grid-view-item__meta">
                          <span class="product-price__price">$19.99</span>
                        </div>
                      </a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </li>
          {% else %}
            {%- assign is_empty_collection = true -%}
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      <ul class="list-view-items">
        {% for product in collection.products %}
          <li class="list-view-item">
            {% include 'product-card-list', product: product, show_vendor: section.settings.show_vendor %}
          </li>
        {% else %}

          {% comment %}
          Add default products to help with onboarding for collections/all only.

          The onboarding styles and products are only loaded if the
          store has no products.
          {% endcomment %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0%}
            {% for i in (1..4) %}
              <li class="list-view-item">
                <a href="#" class="list-view-item__link">
                  <div class="list-view-item__image-column">
                    <div class="list-view-item__image-wrapper">
                      <div class="list-view-item__image">
                        {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
                        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                    </div>
                  </div>

                  <div class="list-view-item__title-column">
                    <div class="list-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                  </div>

                  <div class="list-view-item__price-column">
                    <span class="product-price__price">$19.99</span>
                  </div>
                </a>
              </li>
            {% endfor %}
          {% else %}
            {%- assign is_empty_collection = true -%}
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}

    {% if is_empty_collection %}
      <div class="grid__item small--text-center">
        <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% endif %}
  </div>
</div>

<script type="text/JavaScript">
$(document).ready(function(){
	function hold(event){
		if(event && event.stopPropagation){
			event.stopPropagation();
		}
	}
	function show(event){
		if(event && event.stopPropagation){
			event.stopPropagation();
		}
		if(event && event.preventDefault){
			event.preventDefault();
		}
		
		$(this).parent().children().removeClass('active');
		$(this).addClass('active');
		var li = $('#filter-list').children().removeClass('active').eq($(this).index()).addClass('active');
		$('#filter-wrapper').css({
			top: li.offset().top
		}).show();
	}
	function hide(event){
		$('#filter-menu').children().removeClass('active');
		$('#filter-list').children().removeClass('active');
		$('#filter-wrapper').hide();
	}
	
	$('body').append('<div id="filter-wrapper"></div>');
	$('#filter-menu li').click(show).mouseenter(show);
	$('#filter-list').click(hold);
	$('#filter-wrapper').click(hide).mouseenter(hide);
	$('body').click(hide);
	
	function reset(event){
		if(event && event.preventDefault){
			event.preventDefault();
		}
		
		$('#filter-list form input:checked').removeAttr('checked');
	}
	
	function filter(event){
		if(event && event.preventDefault){
			event.preventDefault();
		}
		
		var colors = [];
		var prices = [];
		$('#filter-list form input:checked').each(function(){
			switch($(this).attr('name')){
				case 'filter_colors[]':
					var color = $(this).attr('value');
					colors.push(color.substr(color.indexOf('=') + 1));
					break;
				case 'filter_price[]':
					var price = $(this).attr('value').split('-');
					prices.push({
						min: parseFloat(price[0]),
						max: parseFloat(price[1])
					});
					break;
			}
		});
		
		$('#Collection li.grid__item').each(function(){
			var total = 0;
			var matched = 0;
			
			if(colors.length > 0){
				total++;
				var color = $(this).attr('data-color');
				if($.inArray(color, colors) != -1){
					matched++;
				}
			}
			
			if(prices.length > 0){
				total++;
				var price = parseFloat($(this).attr('data-price'));
				$.each(prices, function(){
					if(this.min <= price && price <= this.max){
						matched++;
						return false;
					}
				});
			}
			
			if(matched == total){
				$(this).show();
			}
			else{
				$(this).hide();
			}
		});
	}
	
	$('#filter-list .cancel').click(hide);
	$('#filter-list .reset').click(reset);
	$('#filter-list .apply').click(filter);
});
</script>


{% schema %}
{
  "name": "Collection pages",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "list",
          "label": "List"
        }
      ]
    },
    {
      "type": "range",
      "id": "grid",
      "label": "Products per row (grid only)",
      "default": 4,
      "min": 2,
      "max": 5,
      "step": 1
    },
    {
      "type": "range",
      "id": "rows",
      "label": "Rows per page (grid only)",
      "default": 2,
      "min": 2,
      "max": 8,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show collection image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show product vendors",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "sort_enable",
      "label": "Enable sorting",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "tags_enable",
      "label": "Enable tag filtering",
      "default": true
    }
  ]
}
{% endschema %}
