<div class="contact-main-content page-width">
	<div class="contact-left">
		<h1>{{ section.settings.title }}</h1>
		<div>{{ section.settings.subtitle }}</div>
		
		<h4>{{ 'contact.form.address' | t }}</h4>
		<address>{{ section.settings.address }}</address>
	</div>
	<div class="contact-form form-vertical">
		{%- assign formId = 'ContactForm' -%}
		{% form 'contact', id: formId %}
		  {% include 'form-status', form: form, form_id: formId %}
		  
		  <input type="text" id="{{ formId }}-name" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'contact.form.name' | t | upcase }}">
		  
		  <input
			type="email"
			id="{{ formId }}-email"
			name="contact[email]"
			autocorrect="off"
			autocapitalize="off"
			value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
			placeholder="{{ 'contact.form.email' | t | upcase }}"
			aria-required="true"
			{%- if form.errors contains 'email' -%}
			  class="input--error"
			  aria-invalid="true"
			  aria-describedby="{{ formId }}-email-error"
			{%- endif -%}
			>
		  {%- if form.errors contains 'email' -%}
			<span id="{{ formId}}-email-error" class="input-error-message">
			  <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
			  {% include 'icon-error' %}
			  <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
			</span>
		  {%- endif -%}

		  <input type="tel" id="{{ formId }}-phone" name="contact[phone]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'contact.form.phone' | t | upcase }}">
		  
		  <input type="tel" id="{{ formId }}-subject" name="contact[subject]" pattern="[0-9\-]*" value="{% if form[subject] %}{{ form[subject] }}{% endif %}" placeholder="{{ 'contact.form.subject' | t | upcase }}">
		  
		  <textarea rows="10" id="{{ formId }}-message" name="contact[message]" placeholder="{{ 'contact.form.message' | t | upcase }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

		  <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">

		{% endform %}
	</div>
</div>

<div class="contact-subcontent page-width">
	<div class="contact-left">
		<h1>{{ section.settings.trouble_title }}</h1>
		<div>{{ section.settings.trouble_subtitle }}</div>
	</div>
	<div class="contact-right">
		<a href="https://api.whatsapp.com/send?phone={{ section.settings.whatsapp_number }}" target="_blank">
			{% include 'icon-whatsapp' %}
		</a>
		<h2>{{ section.settings.whatsapp_heading }}</h2>
		<div>{{ section.settings.office_hour }}</div>
	</div>
</div>

{% schema %}
{
  "name": "Contact pages",
  "settings": [
	{
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "How may we help ?"
    },
	{
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "<p>International shipping, custom design, collab opportunity. Let us hear from you.</p>"
    },
	{
      "type": "richtext",
      "id": "address",
      "label": "Address",
      "default": "<p>Jl. Pedurenan Masjid 3 no 56, Karet<br/>Jakarta Selatan, Indonesia.</p>"
    },
	{
      "type": "text",
      "id": "trouble_title",
      "label": "Trouble title",
      "default": "Having trouble contacting us?"
    },
	{
      "type": "richtext",
      "id": "trouble_subtitle",
      "label": "Trouble subtitle"
    },
	{
      "type": "text",
      "id": "whatsapp_heading",
      "label": "Whatsapp heading",
      "default": "Contact via Whatsapp"
    },
	{
      "type": "text",
      "id": "whatsapp_number",
      "label": "Whatsapp phone number"
    },
	{
      "type": "richtext",
      "id": "office_hour",
      "label": "Office hour",
      "default": "<p>Office hour : 09:00 AM - 17:00 PM</p>"
    }
  ]
}
{% endschema %}