<div class="info-single">
	<div class="info-single-background"></div>
	<div class="page-width" data-section-id="{{ section.id }}">
		<div class="info-single-wrapper" style="background-image: url({{ section.settings.image | img_url: 'x800' }}); ">
			{% if section.settings.title != blank %}
				<h1>{{ section.settings.title | escape }}</h1>
			{% endif %}
			{% if section.settings.subtitle != blank %}
				<div class="info-single-subtitle rte-setting rte">{{ section.settings.subtitle }}</div>
			{% endif %}
		</div>
	</div>
</div>


{% schema %}
{
  "name": "Info single",
  "class": "index-section",
  "settings": [
	{
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Virginia"
    },
	{
	  "type": "richtext",
	  "id": "subtitle",
	  "label": "Subtitle",
	  "default": "<p>Thank you for the good sales support and being part of the effort to make the world more humane & sustainable</p>"
	},
	{
	  "type": "image_picker",
	  "id": "image",
	  "label": "Image"
	}
  ],
  "presets": [
    {
      "name": "Info single",
      "category": "Text"
    }
  ]
}
{% endschema %}
