<div class="info-grid-background"></div>
<div class="page-width info-grid" data-section-id="{{ section.id }}" data-section-type="quotes">
	<div class="info-grid-header">
		{% if section.settings.title != blank %}
			<h1>{{ section.settings.title | escape }}</h1>
		{% endif %}
		{% if section.settings.subtitle != blank %}
			<div class="rte-setting rte">{{ section.settings.subtitle }}</div>
		{% endif %}
	</div>
	<div class="clear"><!-----></div>
	
	{% if section.blocks.size > 0 %}
		<ul class="info-grid-list">
			{% for block in section.blocks %}
				<li>
					<img src="{{ block.settings.image | img_url: '350x350' }}" alt="{{ block.settings.image.alt }}">
					<span></span>
					{% if block.settings.title != blank %}
						<h4>{{ block.settings.title | escape }}</h4>
					{% endif %}
					{% if block.settings.content != blank %}
						<div class="rte-setting rte">{{ block.settings.content }}</div>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>



{% schema %}
{
  "name": "Info grid",
  "class": "index-section",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Local brand support sustainability"
    },
	{
	  "type": "richtext",
	  "id": "subtitle",
	  "label": "Sub Heading"
	}
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Info",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
		{
          "type": "text",
          "id": "title",
          "label": "Title"
        },
		{
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Info grid",
      "category": "Text",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
