<div class="page-width info-video" data-section-id="{{ section.id }}" data-section-type="quotes">
	{% if section.settings.title != blank %}
		<h1 class="text-center">{{ section.settings.title | escape }}</h1>
	{% endif %}
	{% if section.settings.subtitle != blank %}
		<div class="info-video-subtitle text-center rte-setting rte">{{ section.settings.subtitle }}</div>
	{% endif %}
	<div class="info-video-wrapper">
		<img src="{{ section.settings.image | img_url: 'x800' }}" alt="{{ section.settings.image.alt }}" />
	</div>
</div>

{% if section.settings.video != '' %}
	<script type="text/JavaScript">
	$(document).ready(function(){
		$('#shopify-section-{{ section.id }} .info-video-wrapper').click(function(){
			var img = $(this).find('img');
			$(this).html('<iframe width="' + img.width() + '" height="' + img.height() + '" src="https://www.youtube.com/embed/{{ section.settings.video }}?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>');
		});
	});
	</script>
{% endif %}

{% schema %}
{
  "name": "Info video",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
	{
	  "type": "richtext",
	  "id": "subtitle",
	  "label": "Sub Heading"
	},
	{
      "type": "image_picker",
      "id": "image",
      "label": "Splash screen"
    },
	{
	  "type": "text",
	  "id": "video",
	  "label": "Video"
	}
  ],
  "presets": [
    {
      "name": "Info video",
      "category": "Text"
    }
  ]
}
{% endschema %}
