{%- if section.settings.show_product_recommendations -%}
  {% assign exists = false %}
  
  {%- if recommendations.performed -%}
    {%- if recommendations.products_count > 0 -%}
      {% assign exists = true %}
	  <div class="product-recommendations__inner">
        {%- if section.settings.heading != blank -%}
          <div class="section-header text-center">
            <h2>{{ section.settings.heading | escape }}</h2>
          </div>
        {%- endif -%}
        <ul class="grid grid--uniform grid--view-items">
          {%- for product in recommendations.products -%}
            <li class="grid__item small--one-half medium-up--one-quarter">
              {% include 'product-card-grid', max_height: 250, product: product, show_vendor: section.settings.show_vendor %}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
  {%- else  -%}
    {% comment %}
    <div class="page-width" data-base-url="{{ routes.product_recommendations_url }}" data-product-id="{{ product.id }}" data-section-id="{{ section.id }}" data-section-type="product-recommendations"></div>
    {% endcomment %}
  {%- endif -%}
  
  {% if exists == false %}
	<div class="product-recommendations__inner">
		<div class="page-width">
			<div class="section-header text-center">
				<h2>{{ section.settings.heading | escape }}</h2>
			</div>
			<ul class="grid grid--uniform grid--view-items">
				{% for collection in collections %}
					{% unless collection.title contains "[hidden]" %}
						{% for product in collection.products %}
							<li data-id="{{ product.id }}" class="grid__item small--one-half medium-up--one-quarter">
								{% include 'product-card-grid', max_height: 250, product: product, show_vendor: section.settings.show_vendor %}
							</li>
						{% endfor %}
					{% endunless %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<script type="text/JavaScript">
	$(document).ready(function(){
		var recommendations = $('#product-description .product-single__description .product_recommendations').children();
		var products = $('.product-recommendations__inner ul.grid').children().hide();
		if(recommendations.length > 0){
			recommendations.each(function(){
				products.filter('[data-id=' + $(this).html() + ']').show();
			});
		}
		else{
			for(i = 0; i < 4; i++){
				products.eq(i).show();
			}
		}
	});
	</script>
  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": "Product recommendations",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_product_recommendations",
      "label": "Show dynamic recommendations",
      "info": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "You may also like"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    }
  ]
}
{% endschema %}
