<div class="product-template__container page-width"
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
  data-ajax-enabled="{{ settings.enable_ajax }}"
>
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_image_zoom = section.settings.enable_image_zoom -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}

  {% case section.settings.media_size %}
    {% when 'small' %}
      {%- assign product_media_width = 'medium-up--one-third' -%}
      {%- assign product_description_width = 'medium-up--two-thirds' -%}
      {%- assign height = 345 -%}
    {% when 'medium' %}
      {%- assign product_media_width = 'medium-up--one-half' -%}
      {%- assign product_description_width = 'medium-up--one-half' -%}
      {%- assign height = 530 -%}
    {% when 'large' %}
      {%- assign product_media_width = 'medium-up--two-thirds' -%}
      {%- assign product_description_width = 'medium-up--one-third' -%}
      {%- assign height = 720 -%}
    {% when 'full' %}
      {%- assign product_media_width = '' -%}
      {%- assign product_description_width = '' -%}
      {%- assign height = 1090 -%}
      {%- assign enable_image_zoom = false -%}
  {% endcase %}

  <div class="grid product-single{% if section.settings.enable_payment_button %} product-single--{{ section.settings.media_size }}-media{% endif %}">
    <div class="grid__item product-single__media-group {{ product_media_width }}{% if section.settings.media_size == 'full' %} product-single__media-group--full{% endif %}" data-product-single-media-group>
	  {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
	  
	  {% if product.media.size > 1 %}
        {% if product.media.size > 4 %}
          {%- assign enable_thumbnail_slides = true -%}
        {% endif %}

        <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}">
              {% include 'icon-chevron-left' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
            </button>
          {% endif %}
          <ul class="product-single__thumbnails product-single__thumbnails-{{ section.id }}">
            {% for media in product.media %}
              <li class="product-single__thumbnails-item product-single__thumbnails-item--{{ section.settings.media_size }} js">
                <a href="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"
                   class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                   data-thumbnail-id="{{ section.id }}-{{ media.id }}"
                   {% if enable_image_zoom %}data-zoom="{{ media.preview_image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>

                    {%- capture thumbnailAlt -%}
                      {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
                        {{ 'sections.featured_product.video_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                      {%- elsif media.media_type == 'model' -%}
                        {{ 'sections.featured_product.model_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                      {%- else -%}
                        {{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}
                      {%- endif -%}
                    {%- endcapture -%}

                    <img class="product-single__thumbnail-image" src="{{ media.preview_image | img_url: '110x110', scale: 2 }}" alt="{{ thumbnailAlt }}">
                    {%- if media.media_type == 'video' or media.media_type =='external_video' -%}
                      <div class="product-single__thumbnail-badge">
                        {% include 'icon-video-badge-full-color' %}
                      </div>
                    {%- endif -%}
                    {%- if media.media_type == 'model' -%}
                      <div class="product-single__thumbnail-badge">
                        {% include 'icon-3d-badge-full-color' %}
                      </div>
                    {%- endif -%}
                </a>
              </li>
            {% endfor %}
          </ul>
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}">
              {% include 'icon-chevron-right' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
            </button>
          {% endif %}
        </div>
      {% endif %}
	  
	  <div class="media-wrapper">
		  {%- for media in product.media -%}
			{% include 'media', media: media, featured_media: featured_media, height: height, enable_image_zoom: enable_image_zoom, image_zoom_size: product_image_zoom_size, image_scale: product_image_scale %}
		  {%- endfor -%}

		  <noscript>
			{% capture product_image_size %}{{ height }}x{% endcapture %}
			<img src="{{ featured_media | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_media.alt }}" id="FeaturedMedia-{{ section.id }}" class="product-featured-media" style="max-width: {{ height }}px;">
		  </noscript>

		  {% assign first_3d_model = product.media | where: "media_type", "model" | first %}

		  {%- if first_3d_model -%}
			<button
			  aria-label="{{ 'products.product.view_in_space_label' | t }}"
			  class="product-single__view-in-space"
			  data-shopify-xr
			  data-shopify-model3d-id="{{ first_3d_model.id }}"
			  data-shopify-title="{{ product.title | escape }}"
			  data-shopify-xr-hidden
			>
			  {% include 'icon-3d-badge-full-color' %}<span class='product-single__view-in-space-text'>{{ 'products.product.view_in_space' | t }}</span>
			</button>
		  {%- endif -%}
	  </div>
	  <div class="clear"><!----></div>
    </div>

    <div id="product-description" class="grid__item {{ product_description_width }}">
		<div class="product-single__meta">
		  <ul class="product-menu">
			<li class="active" data-target="product_overview">{{ 'products.product.overview' | t }}</li>
			<li data-target="product_details">{{ 'products.product.product_details' | t }}</li>
			<li data-target="product_care">{{ 'products.product.care_instruction' | t }}</li>
		  </ul>
		  
		  <h4 class="product-single__collection">
			{% assign cat = false %}
			{% for collect in product.collections %}
				{% unless collect.title contains "[hidden]" %}
					{% assign cat = collect.title %}
					{% break %}
				{% endunless %}
			{% endfor %}
			{% if cat == false %}
				&nbsp;
			{% else %}
				{{ cat }}
			{% endif %}
		  </h4>
          <h1 class="product-single__title">{{ product.title }}</h1>
		  
          <div class="product__price">
            {% include 'product-price', variant: current_variant, show_vendor: section.settings.show_vendor %}
          </div>

          {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product__policies rte" data-product-policies>
              {%- if shop.taxes_included -%}
                {{ 'products.product.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}

          {% capture "form_classes" -%}
            product-form product-form-{{ section.id }}
            {%- unless section.settings.show_variant_labels %} product-form--hide-variant-labels {% endunless %}
            {%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
            {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
          {%- endcapture %}
		  
		  <ul class="product-announcement">
			<li>{% include 'icon-truck' %}{{ section.settings.free_delivery }}</li>
			<li>{% include 'icon-return' %}{{ section.settings.free_refund }}</li>
		  </ul>
        </div>

        {%- comment -%}
          Live region for announcing updated price and availability to screen readers
        {%- endcomment -%}
        <p class="visually-hidden" data-product-status
          aria-live="polite"
          role="status"
        ></p>

        {%- comment -%}
          Live region for announcing that the product form has been submitted and the
          product is in the process being added to the cart
        {%- endcomment -%}
        <p class="visually-hidden" data-loader-status
          aria-live="assertive"
          role="alert"
          aria-hidden="true"
        >{{ 'products.product.loader_label' | t }}</p>

        <div class="product-single__description rte">
          {{ product.description }}
        </div>
		
		{% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
            <table class="product-form__controls-group">
				{% unless product.has_only_default_variant %}
					{% for option in product.options_with_values %}
						<tr>
							<td class="selector-wrapper js product-form__item">
								<label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
									{{ option.name }}
								</label>
							</td>
							<td class="selector-wrapper js product-form__item">
								<select class="single-option-selector single-option-selector-{{ section.id }} product-form__input"
									id="SingleOptionSelector-{{ forloop.index0 }}"
									data-index="option{{ forloop.index }}"
									>
									{% for value in option.values %}
										<option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>
					{% endfor %}
				{% endunless %}
				{% if section.settings.show_quantity_selector %}
					<tr>
						<td colspan="2" class="product-form__item">
							<div class="clear"><!----></div>
							<div class="product-quantity">
								<span class="minus">{% include 'icon-minus' %}</span>
								<input type="number" id="Quantity-{{ section.id }}"
									name="quantity" value="1" min="1" pattern="[0-9]*"
									class="product-form__input product-form__input--quantity" data-quantity-input
									>
								<span class="plus">{% include 'icon-plus' %}</span>
							</div>
							<div class="clear"><!----></div>
						</div>
					</tr>
				{% endif %}
            </table>
			
            <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                <option value="{{ variant.id }}"
                  {%- if variant == current_variant %} selected="selected" {%- endif -%}
                >
                  {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                </option>
              {% endfor %}
            </select>
			
			<div class="product-form__buttons">
				{% comment %}
				<button class="add_to_wishlist" type="submit" disabled="disabled">
					<span>
						{% include 'icon-wishlist' %}
						{{ 'products.product.add_to_wishlist' | t }}
					</span>
					<span class="hide" data-loader>
						{% include 'icon-spinner' %}
					</span>
				</button>
				{% endcomment %}
				{% include 'add-to-cart', product: product %}
			</div>
			
            <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
              data-error-message-wrapper
              role="alert"
            >
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
            </div>
			
			
			
			{% comment %}
            <div class="product-form__controls-group product-form__controls-group--submit">
              <div class="product-form__item product-form__item--submit
                {%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}
                {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}"
              >
                <button type="submit" name="add"
                  {% unless current_variant.available %} aria-disabled="true"{% endunless %}
                  aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                  class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}"
                  data-add-to-cart>
                  <span data-add-to-cart-text>
                    {% unless current_variant.available %}
                      {{ 'products.product.sold_out' | t }}
                    {% else %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% endunless %}
                  </span>
                  <span class="hide" data-loader>
                    {% include 'icon-spinner' %}
                  </span>
                </button>
                {% if section.settings.enable_payment_button %}
                  {{ form | payment_button }}
                {% endif %}
              </div>
            </div>
			{% endcomment %}
          {% endform %}
		
        {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media %}
        {% endif %}
    </div>
  </div>
</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}

{% assign section_id = "product-popup-" | append: product.id %}
<div class="product-popup-wrapper product-popup-wrapper-hidden" data-section-id="{{ section_id }}" data-section-type="product" data-ajax-enabled="{{ settings.enable_ajax }}">
	<div class="page-width">
		<div class="product-info">
			<div class="product-image">
				{%- assign preview_image = product.featured_media.preview_image -%}
				<img alt="{{ preview_image.alt }}" src="{{ preview_image | img_url: '100x100' }}" />
			</div>
			<h1 class="product-single__title">{{ product.title }}</h1>
			<h4 class="product-single__collection">
				{% assign cat = false %}
				{% for collect in product.collections %}
					{% unless collect.title contains "[hidden]" %}
						{% assign cat = collect.title %}
						{% break %}
					{% endunless %}
				{% endfor %}
				{% if cat == false %}
					&nbsp;
				{% else %}
					{{ cat }}
				{% endif %}
			</h4>
			
			<div class="product__price">
				{% include 'product-price', variant: current_variant, show_vendor: section.settings.show_vendor %}
			</div>
		</div>
		{% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
			<div class="product-form__buttons">
				{% assign id = "" %}
				{% for variant in product.variants %}
					{% if variant.available %}
						{% assign id = variant.id %}
						{% break %}
					{% endif %}
				{% endfor %}
				<input type="hidden" name="id" value="{{ id }}" />
				{% comment %}
				<button class="add_to_wishlist" type="submit" disabled="disabled">
					<span>
						{% include 'icon-wishlist' %}
						<span>{{ 'products.product.add_to_wishlist' | t }}</span>
					</span>
					<span class="hide" data-loader>
						{% include 'icon-spinner' %}
					</span>
				</button>
				{% endcomment %}
				{% include 'add-to-cart', product: product %}
			</div>
		{% endform %}
	</div>
	
	{% unless product == empty %}
		<script type="application/json" id="ProductJson-{{ section_id }}">
			{{ product | json }}
		</script>
	{% endunless %}
</div>

<script type="text/JavaScript">
$(document).ready(function(){
	function choose(){
		menus.removeClass('active');
		$(this).addClass('active');
		contents.hide().filter('.' + $(this).attr('data-target')).show();
	}
	
	var container = $('#product-description');
	var menus = container.find('.product-menu').children();
	var contents = container.find('.product-single__description').children();
	
	menus.click(choose);
	menus.filter('.active').click();
	container.find('.product-single__description').show();
	
	$('#Quantity-{{ section.id }}').parent().children('span').click(function(){
		var qty = $('#Quantity-{{ section.id }}').val();
		if($(this).hasClass('plus')){
			qty++;
		}
		else if($(this).hasClass('minus')){
			qty--;
		}
		$('#Quantity-{{ section.id }}').val(qty > 0 ? qty : 1);
	});
	
	$(window).scroll(function(){
		if(!CART_IS_VISIBLE){
			if($(window).scrollTop() > $('#shopify-section-product-template').offset().top + $('#shopify-section-product-template').innerHeight()){
				$('.product-popup-wrapper').prepareTransition().removeClass('product-popup-wrapper-hidden');
			}
			else{
				$('.product-popup-wrapper').prepareTransition().addClass('product-popup-wrapper-hidden');
			}
		}
	});
});
</script>


{% schema %}
{
  "name": "Product pages",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": "Show quantity selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_variant_labels",
      "label": "Show variant labels",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": false
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
    },
    {
      "type": "select",
      "id": "media_size",
      "label": "Size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "full",
          "label": "Full-width"
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "Enable image zoom",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
	{
      "type": "text",
      "id": "free_delivery",
      "label": "Free delivery",
      "default": "Free Delivery Above Rp1.000.000"
    },
	{
      "type": "text",
      "id": "free_refund",
      "label": "Free refund",
      "default": "Free 30 days return and refund"
    }
  ]
}
{% endschema %}
