<div id="subscribe-popup" class="hidden">
	<div class="wrapper">
		<div class="text">
			<span class="close">{% include 'icon-close' %}</span>
			<h1>{{ section.settings.title }}</h1>
			<div class="description">{{ section.settings.subtitle }}</div>
			
			{%- assign formId = 'ContactPopup' -%}
			{% form 'customer', id: formId, novalidate: 'novalidate' %}
				{%- if form.posted_successfully? -%}
				  <p class="form-message form-message--success" tabindex="-1" data-form-status>
					{{ 'general.newsletter_form.confirmation' | t }}
				  </p>
				{%- endif -%}
				<input type="hidden" name="contact[tags]" value="newsletter">
				<div class="input-group {% if form.errors %} input-group--error{% endif %}">
				  <input type="email"
					name="contact[email]"
					id="{{ formId }}-email"
					class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
					value="{{ form.email }}"
					placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
					aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
					aria-required="true"
					required
					autocorrect="off"
					autocapitalize="off"
					{% if form.errors %}
					  aria-invalid="true"
					  aria-describedby="{{ formId }}-email-error"
					  data-form-status
					{% endif %}>
				  <span class="input-group__btn">
					<button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
					  <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
					</button>
				  </span>
				</div>
				{% if form.errors contains 'email' %}
				  <span id="{{ formId }}-email-error" class="input-error-message">
					<span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
					{% include 'icon-error' %}
					<span class="site-footer__newsletter-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
				  </span>
				{% endif %}
			{% endform %}
			
			<div class="agreement">{{ section.settings.agreement }}</div>
		</div>
		<div class="image">
			<span class="close">{% include 'icon-close' %}</span>
			<img src="{{ section.settings.image | img_url: '1000x' }}" alt="{{ section.settings.image.alt }}" />
		</div>
	</div>
</div>
<script type="text/JavaScript">
$(document).ready(function(){
	var shown = false;
	
	var persistent = {{ section.settings.persistentPopup }};
	
	if(persistent){
		Cookies.remove('subscribe-popup')
	}
	else if(Cookies.get('subscribe-popup') == '1'){
		shown = true;
	}
	
	$(window).scroll(function(){
		if(!shown && $(window).scrollTop() >= $('body').innerHeight() * 0.3){
			shown = true;
			
			if(!persistent){
				Cookies.set('subscribe-popup', '1', { expires: 1 });
			}
			
			$('#subscribe-popup').prepareTransition().removeClass('hidden');
			
			$('#subscribe-popup .close').click(function(){
				$('#subscribe-popup').prepareTransition().addClass('hidden');
			});
		}
	});
});
</script>

{% schema %}
{
  "name": "Subscribe popup",
  "settings": [
	{
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Join us and get 10 % discount"
    },
	{
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "<p>If there’s one thing I’ve come to believe about buying things for your home, it’s what a difference little luxuries make.</p>"
    },
	{
      "type": "richtext",
      "id": "agreement",
      "label": "Agreement",
      "default": "<p>By subscribing to our newsletter, you agree to receive information concerning offers, services, products or events from Katonvie in accordance with the Privacy Policy.</p>"
    },
	{
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
	{
      "type": "checkbox",
      "id": "persistentPopup",
      "label": "Persistent popup",
      "default": true
    }
  ]
}
{% endschema %}