<div class="page-width" data-section-id="{{ section.id }}" data-section-type="quotes">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h1>{{ section.settings.title | escape }}</h1>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="quotes-wrapper">
      <div class="quotes-slider" id="Quotes-{{ section.id }}" data-count="{{ section.blocks.size }}">
        {% for block in section.blocks %}
          <div class="quotes-slide--{{ block.id }}" {{ block.shopify_attributes }}>
            <blockquote class="quotes-slider__text">
			  <img src="{{ block.settings.image | img_url: '550x550' }}" alt="{{ block.settings.image.alt }}" />
              {% if block.settings.author != blank %}
                <h4>{{ block.settings.author | escape }}</h4>
              {% endif %}
                <span>{% if block.settings.job != blank %}{{ block.settings.job | escape }}{% else %}&nbsp;{% endif %}</span>
              {% if block.settings.quote != blank %}
                <div class="rte-setting rte">{{ block.settings.quote }}</div>
              {% endif %}
            </blockquote>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>



{% schema %}
{
  "name": "Testimonials",
  "class": "index-section testimonies-section",
  "max_blocks": 9,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "What they say"
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "Testimonial",
      "settings": [
	    {
	      "type": "image_picker",
	      "id": "image",
	      "label": "Photo"
	    },
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        },
		{
          "type": "text",
          "id": "job",
          "label": "Job"
        },
		{
          "type": "richtext",
          "id": "quote",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "category": "Text",
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}
