/*============================================================================
  Created By Sugito Rolis
==============================================================================*/

.blog__name {
    display: block;
    color: #BF770B;
    margin-bottom: 12px;
    text-transform: uppercase;
}
.article__author{
    text-transform: capitalize;
    font-size: 16px;
    color: #060805;
    margin-bottom: 10px;
    margin-top: 40px;
    display: block;
}
.article__date{
    margin-top: 12px;
    display: block;
    color: #6F706F;
}
.article__title{
    font-size: 55px;
    font-weight: 300;
    line-height: normal;
    color: #060805;
    margin-bottom: 20px;
}
.article__grid-excerpt {
    font-size: 24px;
    line-height: normal;
    color: #585958;
    font-weight: 300;
    margin-top: 15px;
}
@media only screen and (max-width: 749px){
    .article__title{font-size: 45px}
}
@media only screen and (max-width: 479px){
    .article__title{font-size: 33px}
    .article__grid-excerpt{font-size: 21px}
    .blog__name{
        font-size: 12px;
        letter-spacing: .03em;
    }
}

// FASHION SPREAD
.fashion-spread{
    .section-title{margin-bottom: 50px; margin-top: 30px}
    .big-article{
        .img-container{margin-bottom: 40px;}
    }
    .small-article{
        .img-container{
            max-width: 300px;
        }
        .small-article-title{
            font-size: 38px;
            margin-bottom: 30px;
        }
        .article__author{margin-top: 0}
        .article__date{margin: 0}
        h2{
            font-size: 28px;
            color: #060805;
            line-height: 30px;
            letter-spacing: normal;
            text-transform: none;
            font-weight: 300;
        }
        .one-half h2{
            height: 95px;
            overflow: hidden;
        }
        .clear{height: 35px;}
    }
    @media only screen and (max-width: 749px){
        .section-title{margin-bottom: 35px;}
        .big-article{
            margin-bottom: 30px;
            .article__author{margin-top: 22px}
        }
        .small-article{
            .img-container{max-width: 270px}
            h2.grid__item, .img-container{padding-left: 0}
        }
    }
    @media only screen and (max-width: 479px){
        .big-article{margin-bottom: 20px;}
        .small-article .small-article-title{font-size: 27px}
        .small-article .one-half h2{height: auto;}
        .small-article h2{
            line-height: normal;
            font-size: 23px;
        }
    }
}

// FEATRUED ARTICLE
.blog-featured-articles {
    .first__featured{
        margin-bottom: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .second__featured .article__grid-meta{
        padding-left: 60px;
        padding-right: 30px;
    }
    @media only screen and (max-width: 1000px){
        .second__featured .article__grid-meta{
            padding-left: 30px;
            padding-right: 0;
        }
    }
    @media only screen and (max-width: 749px){
        .second__featured {
            .article__title{font-size: 28px}
            .article__grid-excerpt{font-size: 18px;}
            .article__grid-meta{margin-bottom: 0}
            .article__author{margin-top: 0}
        }
    }

}
.article__grid-image-container{
    margin-bottom: 0;
}

// BLOG CATEGORY
.blog-category{
    margin-bottom: 90px;
    .blog-category-container{
        position: relative;
        display: table;
    }
    img{display: block;}
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(0.75deg, rgba(6, 8, 5, 0.46) 17.78%, rgba(6, 8, 5, 0.18) 47.71%, rgba(6, 8, 5, 0) 80.3%);;
        top: 0;
    }
    .text-container{
        position: absolute;
        bottom: 15px;
        left: 15px;
        p{
            color: #FFFFFF;
            font-size: 24px;
        }
    }
}



// SINGLE ARTICLE
.article__header{
    margin-top: 30px;
    padding-bottom: 20px;
    .article__header-inner{
        display: flex;
        align-items: center;
    }
    .article-meta{
        padding-left: 50px;
        padding-right: 50px;
    }
}
.article__body{
    max-width: 924px;
    margin: 0 auto;
    padding: 0 30px;
    font-size: 24px; 
    line-height: normal;
    p{
        font-size: 24px; 
        font-weight: 300;
        line-height: normal;
        color: #585958;
        margin-bottom: 25px;
        line-height: 30px;
        a{color: #6b9458; border-bottom: none!important;}
    }
    p.drop-cap::first-letter{
        font-size: 350%;
        font-weight: 400;
        margin-right: 8px;
        float: left;
        color: #060805;
    }
    img{margin-top: 25px; margin-bottom: 50px;}
}
.article__author-info{
    border-top: 1px solid #e8e9eb;
    border-bottom: 1px solid #e8e9eb;
    color: #6F706F;
    padding: 40px 0;
    margin-top: 60px;
    .article__author-info--inner{
        display: table;
        margin: 0 auto;
    }
    .img-container{margin-right: 16px;}
    //.text-container{width: 77%;}
    .img-container, .text-container{
        display: inline-block;
        vertical-align: middle;
    }
    .written{text-transform: uppercase; font-size: 16px; font-weight: 300; display: block; margin-bottom: 7px;}
    h3{color: #060805; font-size: 28px; margin-bottom: 10px;}
    p{font-size: 20px; font-weight: 300; line-height: normal;}
}

.article__share{
    border-bottom: 1px solid #e8e9eb;
    color: #6F706F;
    padding: 50px 0;
    .sharep{font-size: 20px; margin-bottom: 30px;}
    li{margin: 0 10px;}
    .btn{
        background-color: #bf770b;
        border: none;
        border-radius: 100px;
        padding: 11px;
        font-size: 0;
        line-height: normal;
    }
    .share-title{display: none;}
    .social-sharing{justify-content: center;}
    .btn--share .icon-facebook, .btn--share .icon-twitter, .btn--share .icon-pinterest{
        fill: #FFFFFF!important;
    }
    .btn--share .icon{margin: 0; width: 25px; height: 25px;}
}
.article__helpful-link{
    border-bottom: 1px solid #e8e9eb;
    font-size: 28px;
    padding: 50px 0;
    .helpful-link--inner{
        max-width: 924px;
        margin: 0 auto;
    }
    p{color: #6F706F; margin-bottom: 10px; font-weight: 300}
    a{color: #4b683e}
    @media only screen and (min-width: 1201px){
        .know-better{padding-left: 115px;}
    }
}
.article__related-products{
    border-bottom: 1px solid #e8e9eb;
    padding: 50px 0;

}
.return-link-wrapper a{color: #FFFFFF}
