
{% comment %} FASHION SPREAD {% endcomment %}
{% section 'blog-fashion-spread' %}
<div class="space page-width"><div class="page-width border-space"></div></div>
{% comment %} FEATURED ARTICLE {% endcomment %}
{% section 'blog-featured-article' %}
<div class="space page-width"><div class="page-width border-space"></div></div>
{% comment %} CATEGORY {% endcomment %}
{% section 'blog-category' %}