{% layout none %}
{% if search.performed %}
    {% if search.results_count > 0 %}
        {% for product in search.results limit: 4 %}
            <div class="grid__item medium-up--one-quarter">
                {% include 'product-card-grid' %}
            </div>
        {% endfor %}
    {% else %}
        <p class="text-center">There are no related products to this articel.</p>
    {% endif %}
{% endif %}


